<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
    <h2>Company Form</h2>
    <form th:action="@{/companies/save}" th:object="${company}" method="post">
        <div class="form-group">
            <label for="name">Company Name</label>
            <input type="text" th:field="*{company.name}" class="form-control" id="name" required="required" placeholder="Enter company name">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/companies/list" class="btn btn-secondary">Cancel</a>
    </form>
</div>

</body>
</html>
